---
interface Props {
    title: string;
    byline: string;
    bubbles: {
        text: string;
        icon?: string;
    }[];
    headImageUrl: string;
    extraImageUrls: string[];
}

const {title, byline, bubbles, headImageUrl, extraImageUrls} = Astro.props;
const numImages = extraImageUrls.length;
const headImageUrlStyle = `background-image: url(${headImageUrl});`
---

<div id="image-grid">
    <div id="head-image" style={headImageUrlStyle}>
        <div id="overlay">
            <h2>{title}</h2>
            <span id="byline">{byline}</span>
            <div id="bubbles">
                {bubbles.map(({text, icon}) => <span class="bubble">
                    {icon === undefined ? "" : <img src={icon} alt="icon">}
                    {text}
                </span>)}
            </div>
        </div>
    </div>
    {
        extraImageUrls.map(url => `background-image: url(${url});`).map(style =>
                <div style={style}></div>)
    }
</div>
<div id="image-grid-overlay">
    <div id="close">X</div>
    <div id="prev">&lt;</div>
    <div id="next">&gt;</div>
    <div id="image-grid-overlay-image-container">
        <img src="" alt="Bild (Vollbild)">
    </div>
</div>

<script>
    function isDiv(element: Element | null): element is HTMLDivElement {
        return element instanceof HTMLDivElement;
    }

    function getButton(parent: HTMLElement, selector: string) {
        const button = parent.querySelector(selector);
        // TODO should buttons be.... buttons?
        if (!isDiv(button)) throw Error("implementation error: button is not a div");
        return button;
    }

    function setImage(overlay: HTMLDivElement, imageDivs: HTMLDivElement[], index: number) {
        overlay.style.visibility = "visible";
        overlay.style.opacity = "1";
        const srcStyle = imageDivs[index]?.style.backgroundImage;
        if (!srcStyle) throw Error("could not determine image url");
        const image = overlay.querySelector("img");
        if (!(image instanceof HTMLImageElement)) throw Error("implementation error: image element not found")
        image.src = srcStyle.substring(5, srcStyle.length - 2);
        getButton(overlay, "#prev").style.visibility = index === 0 ? "hidden" : "visible";
        getButton(overlay, "#next").style.visibility = index === imageDivs.length - 1 ? "hidden" : "visible";
    }

    document.querySelectorAll("#image-grid").forEach(grid => {
        const imageDivs = [...grid.children].filter(isDiv);
        const myOverlay = grid.nextElementSibling;
        if (!isDiv(myOverlay)) throw Error("implementation error: overlay is not a div");
        let currentIndex = 0;
        imageDivs.forEach((div, index) => {
            div.addEventListener("click", () => {
                currentIndex = index;
                setImage(myOverlay, imageDivs, currentIndex);
            })
        });
        getButton(myOverlay, "#close").addEventListener("click", () => {
            myOverlay.style.visibility = "hidden";
            myOverlay.style.opacity = "0";
        });
        getButton(myOverlay, "#prev").addEventListener("click", () => setImage(myOverlay, imageDivs, --currentIndex));
        getButton(myOverlay, "#next").addEventListener("click", () => setImage(myOverlay, imageDivs, ++currentIndex));
    })
</script>

<style define:vars={{numImages}}>
    h2{
        margin: 0;
        color: #fff;
    }
    #image-grid {
        display: grid;
        grid-template-rows: 1.5fr 1fr;
        grid-template-columns: repeat(var(--numImages), 1fr);
        aspect-ratio: 5 / 3;
        overflow: hidden;
        gap: 10px;
        padding: 65px 0 45px;
    }

    #head-image {
        grid-column: 1 / -1;
        position: relative;
    }

    #head-image:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.85) 100%);
    }

    #image-grid > div {
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        cursor: pointer;
        transition: filter 0.1s ease-in-out;
    }

    #image-grid > div:hover {
        filter: brightness(0.8);
    }

    #overlay {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10px;
    }

    #byline {
        color: white;
        display: block;
        margin-bottom: 5px;
        font-weight: 600;
    }

    @media (max-width: 400px) {
        #byline {
            display: none;
        }
    }

    #bubbles {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 600px) {
        #bubbles {
            display: none;
        }
    }

    .bubble {
        color: black;
        background: white;
        display: flex;
        padding: 5px 15px;
        border-radius: 50px;
        align-items: center;
        gap: 5px;
        font-weight: 600;
    }

    .bubble > img {
        height: 16px;
    }

    #image-grid-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        transition: opacity .25s ease-in-out, visibility 0s;
    }

    #image-grid-overlay > #image-grid-overlay-image-container {
        position: absolute;
        width: 90%;
        left: 5%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
    }

    #image-grid-overlay > #image-grid-overlay-image-container > img {
        border-radius: 20px;
        overflow: hidden;
    }

    #image-grid-overlay:hover {
        transition: opacity .25s ease-in-out, visibility 0s 0.25s;
    }

    #image-grid-overlay > :is(#close, #prev, #next) {
        position: absolute;
        /* TODO use proper icons */
        font-size: 40px;
        font-weight: bold;
        user-select: none;
        cursor: pointer;
        color: white;
    }

    #image-grid-overlay > :is(#close, #next) {
        right: 25px;
    }

    #image-grid-overlay > #prev {
        left: 25px;
    }

    #image-grid-overlay > :is(#prev, #next) {
        top: 50%;
        transform: translateY(-50%);
    }
</style>