---
import type {ImageMetadata} from 'astro';
import {Image} from 'astro:assets';

interface Props {
    imagePath: string;
    name: string;
    position: string;
}

const {imagePath, name, position} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}')
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---
<div id="container">
    <div id="image-container">
        <!--TODO type guard instead of asserting-->
        <Image class="round-img" src={images[imagePath]!()} alt={name}/>
    </div>
    <div id="text">
        <span style="font-weight: bold;">{name}</span>
        <span>{position}</span>
    </div>
</div>

<style define:vars={{imagePath}}>
    #container {
        position: relative;
        color: white;
    }

    #text {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-radius: 5px;
    }

    img {
        display: block;
        max-width: 100%;
        /* hässlich */
        max-height: 30vw;
        object-fit: cover;
    }

    #image-container:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.85) 100%);
        border-radius: 4px;
    }

    span {
        padding-bottom: 4px;
    }
</style>