---
interface Props {
    image: string;
    name: string;
    position: string;
}

const {image, name, position} = Astro.props;
---
<div id="container">
    <div id="image-container">
        <img src={image} alt={name}/>
    </div>
    <div id="text">
        <span><b>{name}</b></span>
        <span>{position}</span>
    </div>
</div>

<style define:vars={{image}}>
    #container {
        position: relative;
        color: white;
    }

    #text {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    img {
        display: block;
        max-width: 100%;
    }

    #image-container:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.85) 100%);
    }

    span {
        padding-bottom: 4px;
    }
</style>